extends layout

block content
  h1 Librejo Documentation
  #content
    p The documentation pages contain all the information you need to use Librejo in your project. And if they don't, let me <a href="https://cacauu.cupcake.is">know</a> and I will update them with missing information.