body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 16px
  padding: 0px
  margin: auto
a
  color: #171717
  text-decoration: none
  
#wrapper
  margin: auto
  font-weight: 300

#content
  margin: auto
  background-color: #2A94DB
  color: white
  width: 96%
  padding: 2%
  height: auto
  min-height: 40px

#buttons
  width: 100%
  margin: auto
  vertical-align: middle
  text-align: center

#buttons .button_github
  float: left
  width: 48%
  padding: 1%
  background-color: #D9D9D9
  margin: 0px
  height: 30px

#buttons .button_docs
  float: left
  width: 48%
  padding: 1%
  background-color: #0085ca
  margin: 0px
  height: 30px
  opacity: 0.5
  
#numbers
  padding: 2%
  width: 96%
  margin-top: 20px

#numbers h2
  margin-bottom: 0px

.feature
  float: left
  width: 30%
  margin-right: 3%
  
footer
  background-color: #2A94DB
  width: 96%
  padding: 2%
  color: white
  
header
  width: 96%
  padding: 2%
  font-weight: 300

@media screen and (max-width: 640px)
  #buttons .button_docs
    width: 100%

  #buttons .button_github
    width: 100%

  .feature
    width: 100%